html
    min-height 100%

*
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
    -webkit-font-smoothing antialiased
    font-smoothing antialiased
    box-sizing border-box

body
    height 100%
    overflow-y auto
    overflow-x hidden
    margin 0
    background #f2f2f2
    padding-bottom 10vw
  
.hidden
	display none
	opacity 0
 
section
  padding 5vw


