// ADDS MARGIN BELOW COLUMNS THAT ARE FORCED TO FULL WIDTH ON MOBILE

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
	margin-bottom 6vw
	@media laptop
		margin-bottom 0px

.column
.col-xs-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12
	padding-right: 2vw;
	padding-left: 2vw;
	
.row
	padding 2vw 4vw
	overflow visible
	z-index 10
	margin-left 0px 
	margin-right 0px
	div
		z-index 11

		
.column
	overflow-y visible
	margin-bottom 11vw
	// &:last-of-type
	// 	margin-bottom 0px
	@media laptop
		margin-bottom 0px
	.row
		padding 0 !important
	
    