a, a:focus, *:focus {
	outline: none;
	noFocusLine: expression(this.onFocus=this.blur());
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: black;

}

#__bs_notify__ {
	opacity: .0 !important;
	visible: hidden;
	display: none;
}
